// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 40px;
  font-family: Calibri, sans-serif; 
  margin-top: -5px;
  text-align: center;
  border-bottom: solid;
  border-bottom-style: 5px;
}

p {
  font-family: Helvetica, sans-serif;
}

u {
  color:#0000dd;
}